<h1>Places</h1>

<ul>
  <% for place in @places %>
    <div><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<div class="row">
  <div class="col-sm-9">
    <a class="btn btn-primary" href="/places/new/">New Place</a>
  </div> 
</div>